*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: min-content min-content min-content 70rem min-content repeat(1, 100px); }

.contacto {
  background-color: #f5f5f5;
  align-self: center;
  padding: 5rem 0;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 4rem; }
  .contacto__heading {
    grid-column: 2 / -1; }
  .contacto__form {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: min-content min-content;
    grid-gap: 1.5rem; }
  .contacto__email {
    grid-column: 3 / 6; }
  .contacto__nombre {
    grid-column: 6 / 9; }
  .contacto__correo {
    grid-row: 2 / 3;
    grid-column: 3 / 9;
    height: 30rem; }

.header {
  display: grid;
  grid-template-rows: 9rem 3rem 6rem min-content; }
  .header__telefono {
    background-image: linear-gradient(90deg, #78E08F 0%, #94EBA7 100%);
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__telefono--texto {
      font-size: 3rem;
      color: #fff; }
    .header__telefono--numero:link, .header__telefono--numero:visited {
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
      padding: .2rem .8rem;
      background-color: #94EBA7;
      border: 1px solid #6FCF84;
      border-radius: 10px;
      margin-left: 1rem;
      transition: all .2s; }
    .header__telefono--numero:hover {
      transform: translateY(-1px);
      background-color: #78E08F;
      box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2); }
    .header__telefono--numero:active {
      transform: translateY(0px);
      background-color: #94EBA7;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); }
  .header__heading {
    text-align: center;
    margin: 3rem 0; }

.horarios {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 5rem 0;
  background-color: #f5f5f5; }
  .horarios__heading {
    grid-column: 2 / 4; }
  .horarios__dias {
    grid-column: 3 / -1;
    font-size: 3rem;
    font-weight: 500;
    line-height: 6rem;
    text-align: left; }
  .horarios__horas {
    font-weight: normal; }
  .horarios__aclaracion {
    grid-column: 1 / -1;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem; }

.info {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 2rem;
  padding: 5rem 0;
  align-items: center; }
  .info__heading {
    grid-column: 2 / 6; }
  .info__content {
    grid-column: 2 / 6; }
    .info__content--texto {
      font-size: 1.6rem; }
  .info__foto {
    grid-column: 6 / 10;
    background-color: orange;
    width: 50rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.heading-1, .heading-2 {
  text-transform: uppercase;
  color: #00C0EC;
  font-weight: normal; }

.heading-1 {
  font-size: 7rem; }

.heading-2 {
  font-size: 4.5rem; }

.heading-3 {
  color: #00C0EC;
  font-weight: 800;
  font-size: 4rem; }

.ubicacion {
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem; }
  .ubicacion__heading {
    align-self: flex-start;
    grid-row: 1 / 2;
    grid-column: 2 / -1; }
  .ubicacion__mapa {
    grid-column: 1 / -1;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    grid-row: 2 / 3; }
  .ubicacion__texto {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    margin-top: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 4rem; }
    .ubicacion__texto--direccion {
      grid-column: 1 / -1;
      font-size: 3.5rem; }

.navbar {
  background-image: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__nombre {
    font-weight: 800;
    font-size: 3rem;
    color: #fff;
    margin-left: 3rem; }
  .navbar__buttons {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem; }
  .navbar__btn:link, .navbar__btn:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    margin: 0 1rem;
    transition: all .2s; }
  .navbar__btn:hover {
    color: #ecf0f1; }
