.header {
    display: grid;
    grid-template-rows: 9rem 3rem 6rem min-content;
    .navbar {
        background-image: linear-gradient(90deg, $color-primary 0%, $color-primary-light 100%);
        display: flex;
        justify-content:space-between;
        align-items: center;
        &__nombre {
            font-weight: 800;
            font-size: 3rem;
            color: #fff;
            margin-left: 3rem;
        }

        &__buttons {
            display: flex;
            justify-content: space-around;
            margin-right: 2rem;
        }

        &__btn:link,
        &__btn:visited {
            text-decoration: none;
            color: #fff;
            font-weight: 800;
            font-size: 2rem;
            margin: 0 1rem;
            transition: all .2s;
        }

        &__btn:hover{
            color: $color-grey-light;
        }
    }
    .telefono {
        background-image: linear-gradient(90deg, $color-secondary 0%, $color-secondary-light 100%);
        grid-row: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        &__texto {
            font-size: 3rem;
            color: #fff;
            
        }
        
        &__numero:link,
        &__numero:visited {
            color: #fff;
            font-size: 3rem;
            font-weight: bold;
            padding: .2rem .8rem;
            background-color: $color-secondary-light;
            border: 1px solid $color-secondary-dark;
            border-radius: 10px;
            margin-left: 1rem;
            transition: all .2s;
        }

        &__numero:hover {
            transform: translateY(-1px);
            background-color: $color-secondary;
            box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
        }

        &__numero:active {
            transform: translateY(0px);
            background-color: $color-secondary-light;
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
        }
    }

    .heading {
        text-align: center;
        margin: 3rem 0;

    }
}