.info {
    background-color: $color-grey;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 2rem;
    padding: 5rem 0;
    align-items: center;

    &__heading {
        grid-column: 2 / 6;
    }
    
    &__content {
        
        grid-column: 2 / 6;

        &--texto {
            font-size: 1.6rem;
        }
    }

    &__foto {
        grid-column: 6 / 10;
        background-color: orange;
        width: 50rem;
        height: 50rem;
        // eliminar flex despues ya que es para el placeholder////
        display: flex;
        justify-content: center;
        align-items: center;
        //////////////////////////////////////////////////////////.
        
    }
}