.navbar {
    background-image: linear-gradient(90deg, $color-primary 0%, $color-primary-light 100%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    &__nombre {
        font-weight: 800;
        font-size: 3rem;
        color: #fff;
        margin-left: 3rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin-right: 2rem;
    }

    &__btn:link,
    &__btn:visited {
        text-decoration: none;
        color: #fff;
        font-weight: 800;
        font-size: 2rem;
        margin: 0 1rem;
        transition: all .2s;
    }

    &__btn:hover{
        color: $color-grey-light;
    }
}